# SentencePiece requires C++17.
build --enable_platform_specific_config

build:linux --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build:macos --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build:freebsd --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build:windows --cxxopt=/std:c++17 --host_cxxopt=/std:c++17
build:windows --cxxopt=/utf-8 --host_cxxopt=/utf-8

test --test_output=errors
