# Build directories and outputs
/build
build_*/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
config.h
sentencepiece.pc
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile

# Binaries and compiled libraries
compile_charsmap
spm_decode
spm_encode
spm_export_vocab
spm_normalize
spm_test
spm_train
*.o
*.a
*.so*
libsentencepiece.so*
libsentencepiece_train.so*
_sentencepiece.*.so

# Third-party dependencies
third_party/abseil-cpp
third_party/absl
third_party/benchmark
third_party/protobuf

# Python artifacts
*.egg-info/
*.pyc
__pycache__/
dist/
python/bundled
python/sentencepiece
python/test/m_*.model
python/test/m_*.vocab
python/test/sp_*.pickle

# Models and temporary files
m.model
m.vocab
*.log
*.swp
*.swo
.DS_Store
test_tmp
